$grid-default-max-width: null !default;
$grid-default-size: 12 !default;
$grid-default-span: 4 !default;

$grid-default-margin: 8px !default;
$grid-default-gutter: 8px !default;
$grid-default-column-width: 72px !default;

$default-grid-conditions: null!default;
$conditions-breakpoints: null!default;
$override-selector: null!default;
$grid-scope-class: 'grid'!default;
