$white:    #fff !default;
$black:    #000 !default;

$colors-steps: (
  50 : 85,
  100: 70,
  200: 50,
  300: 30,
  400: 12,
  500: 0,
  600: 40,
  700: 54,
  800: 70,
  900: 87,
);

$accent-color-steps: (
  'A100': (80, 65),
  'A200': (80, 55),
  'A400': (100, 45),
  'A700': (100, 40)
);